$first-color: #333333;
$first-hover-color: #0dba86;
$second-hover-color: #0d98ba;
$white-text: #f0f0f0;
$main-font: "Montserrat", sans-serif;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    a { 
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
span {
    color: $first-color;
}

.blue-text {
    color: $second-hover-color;
}

.green-text {
    color: $first-hover-color;
}

.green-left {
    border-left: 3px solid $first-hover-color;
    padding-left: 4px;
}

header {
    padding: 30px 10px;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;

    &.header-scrolled {
        background: rgba(51, 51, 51, 0.9);
        padding: 15px 15px;
        height: 72px;
        transition: all 0.5s;
    }

    .logo {
        a {
            font-size: 34px;
            line-height: 1;
            color: $white-text;
            padding-left: 10px;
            border-left: 4px solid $first-hover-color;
            transition: 0.2s ease;
        }
    }

    nav {
        a {
            font-size: 14px;
            margin-left: 18px;
            padding: 10px;
            text-transform: uppercase;
            color: $white-text;

            &.active {
                color: $first-hover-color;
            }

            &:hover {
                color: $first-hover-color;
            }
        }
    }


    @media (min-width: 1024px) { 
        padding: 30px 65px;

        &.header-scrolled {
            padding: 15px 65px;
        }
    }
}

#mobile-nav-toggle {
    z-index: 9999;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
    i {
        color: $white-text;
    }
}

.mobile-menu-container {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    visibility: hidden;
    
    * {
        transition:all 0.5s ease;
    }
    

    .mobile-menu-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
    }

    .mobile-menu {
        background: #100e0e;
        color: #fff;
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin-left: -100%;

        a {
            color: #fff;
            padding: 0.5rem;

            &.author {
                color: $first-hover-color;
            }
        }
    }

    &.active {
        visibility: visible;

        .mobile-menu-overlay  {
            opacity: 1;
        }

        .mobile-menu {
            margin-left: 0;
        }
    }
}

.no-background {
    background-image: none !important;
}

#caru {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
    .carousel-item {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &::before {
            content: "";
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    .carousel-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .carousel-background img {
        max-width: 100%;
    }
    .carousel-content {
        text-align: center;
    }
    h1 {
        color: $white-text;
        margin: 0 auto;
        font-size: 24px;
        font-weight: 700;
        padding: 0 33px;
    }
    h4 {
        color: $white-text;
        font-size: 17px;
        margin: 0 auto;
        padding: 15px 33px;
    }
    p {
        width: 80%;
        margin: 0 auto 30px auto;
        color: $white-text;
    }
    h3 {
        color: $second-hover-color;
        margin-bottom: 20px;
    }

    span {
        color: $white-text;
    }

    @media (min-width: 1024px) {
        h1 {
            font-size: 48px;
            margin-bottom: 30px;
            padding: 0 50px;
        }
        h4 {
            font-size: 24px;
            padding: 0;
        }
    }
    .carousel-fade {
        overflow: hidden;
        .carousel-inner {
            transition-property: opacity;
            .carousel-item,
            .active.carousel-item-left,
            .active.carousel-item-right {
                opacity: 0;
            }
            .active,
            .carousel-item-next.carousel-item-left,
            .carousel-item-prev.carousel-item-right {
                opacity: 1;
                transition: 0.5s;
            }
            .carousel-item-next,
            .carousel-item-prev,
            .active.carousel-item-left,
            .active.carousel-item-right {
                left: 0;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background: none;
        font-size: 32px;
        line-height: 1;
    }
    .carousel-indicators li {
        cursor: pointer;
        width: 20px;
        background-color: $white-text;
    }
}


/* 3 Steps --*/
#three-steps {
    background: url("../img/aboutBg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9;
    }
    .steps-header {
        text-align: center;
        padding-bottom: 25px;
    }
    .container {
        position: relative;
        z-index: 10;
    }
    .three-steps-col {
        background: #fff;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
        margin-bottom: 20px;
        .img {
            position: relative;
            img {
                border-radius: 4px 4px 0 0;
            }
        }
        .icon {
            width: 64px;
            height: 64px;
            padding-top: 8px;
            text-align: center;
            position: absolute;
            background-color: $first-hover-color;
            border-radius: 50%;
            text-align: center;
            border: 4px solid #fff;
            left: calc(50% - 32px);
            bottom: -30px;
            transition: 0.3s;
            &:hover {
                background-color: $second-hover-color;
            }
        }
        i {
            font-size: 36px;
            line-height: 1;
            color: #fff;
            transition: 0.3s;
        }
        &:hover i {
            color: $white-text;
        }
        h2 {
            color: $first-color;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            padding: 0;
            margin: 40px 0 12px 0;
            a {
                color: $first-color;
            }
        }
        p {
            font-size: 15px;
            line-height: 24px;
            color: $first-color;
            margin-bottom: 0;
            padding: 0 20px 20px 20px;
            min-height: 92px;
        }
    }
}

/* Register CV - start --*/
#register-cv {
    padding: 25px;
    background: rgba(51, 51, 51, 0.9);
    a.btn-main.btn {
        color: $white-text;
        background: $first-hover-color;
        &:hover {
            background: $second-hover-color;
        }
    }
    h2,
    p {
        color: $white-text;
    }
}
/* Register CV - end --*/

#library {
    background: url("../img/libraryBg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        z-index: 0;
    }
    .col-md-4 {
        float: left;
    }
    .library-header h3,
    p {
        position: relative;
        
    }
    .btn-primary {
        background-color: $first-hover-color;
        border: 1px solid $first-hover-color;
        color: $white-text;
        &:hover {
            background-color: $second-hover-color;
            border: 1px solid $second-hover-color;
            color: $white-text;
        }
    }
    .controls-top {
        margin-bottom: 20px;
        text-align: center;
        a.btn-floating {
            color: $first-hover-color;
            font-size: 20px;
            padding: 16px;
        }
    }
}

section#pricing {
    padding: 25px;
    .pricing-header {
        text-align: center;
    }
    hr {
        margin: 10px 0;
    }
    .card-title {
        margin: 0.5rem 0;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
    }
    .card-price {
        font-size: 19px;
        margin: 0;
        margin-bottom: 33px;
        .period {
            font-size: 15px;
        }
    }
    ul {
        padding-top: 33px;
        color: #333333;
        li {
            margin-bottom: 1rem;
        }
    }
    .text-muted {
        opacity: 0.7;
    }
    btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: 2px;
        font-weight: bold;
        padding: 15px;
        opacity: 0.7;
        transition: all 0.2s;
    }
    .purchase {
        text-align: center;
    }
    .btn-primary {
        background-color: $first-hover-color;
        border: 1px solid $first-hover-color;
        &:hover {
            background-color: $second-hover-color;
            border: 1px solid $second-hover-color;
        }
    }
    .icon {
        top: 77px;
        width: 64px;
        height: 64px;
        padding-top: 15px;
        text-align: center;
        position: absolute;
        background-color: $first-hover-color;
        border-radius: 50%;
        text-align: center;
        border: 4px solid #fff;
        left: calc(50% - 32px);
        transition: 0.3s;
        color: $white-text;
        font-size: 35px;
        &:hover {
            background-color: $second-hover-color;
        }
        i {
            position: relative;
            bottom: 16px;
        }
    }
}

#testimonials {
    padding: 70px 0;
    padding: 0 16px;
    
    .col-md-9 {
        padding-left: 39px;
    }
    .col-md-3 {
        margin-left: -30px;
    }
    span.carousel-control-prev-icon,
    span.carousel-control-next-icon {
        color: $first-hover-color;
        font-size: 25px;
        background-image: none;
    }
    .carousel-control-prev {
        justify-content: initial;
    }
    .testim-sign {
        color: rgba(13, 152, 186, 0.5);
        font-size: 150px;
        position: absolute;
        top: -44px;
        z-index: -99;
    }
    a.carousel-control-prev {
        width: 3%;
    }
    a.carousel-control-next {
        width: 3%;
    }
    .author {
        padding-right: 30px;
    }

    img {
        width: 150px;
    }

    h4 {
        min-height: 200px
    };

    @media (min-width: 1024px) {
        
        padding: 0;

        
        img {
            width: auto;
        }
    }


}

#instagram {
    padding: 25px 0 0 0;
    overflow: hidden;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .img-thumbnail {
        padding: 0;
        background-color: #333;
        border: none;
        border-radius: 0;
        max-width: 100%;
        height: auto;
    }
    .col-md-2 {
        padding: 0;
    }
    .section-header.instagram-header {
        text-align: center;
        margin-bottom: 20px;
    }
}

footer {
    color: $white-text;
    background-color: $first-color;
    a {
        color: $white-text;
        &:hover {
            text-decoration: none;
            color: $white-text;
        }

        span {
            color: $white-text;
        }
    }

    .links  {

        a:hover {
            color: $first-hover-color;
        }

        margin: 20px 0 !important;
    }

    @media (min-width: 768px) {  
        .links  {
    
            margin:0 !important;
        }
    }


    .footer-row {
        padding: 35px 0 25px;
    }
    h6 {
        color: $white-text;
    }
    .footer-copyright span {
        color: $white-text;
    }
    hr {
        border-top: 2px solid $first-hover-color;
    }
    .footerBottom {
        padding: 0;
        background: #444444;
    }
}


.btn-main {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 4px;
    transition: 0.5s;
    margin: 20px 10px 10px 10px;
    color: $white-text;
    background: $first-hover-color;
    &:hover {
        background: $second-hover-color;
        color: $white-text;
        text-decoration: none;
    }
}
.btn-main-first {
    background: $second-hover-color;
    &:hover {
        background: $first-hover-color;
    }
}
 

.login-register {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    display: none;

    .form-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .form-container {
        padding: 10px;
        background-color: $white-text;
        border-radius: 6px;
        height: 550px;

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 4px;
        }

        p {
            margin-bottom: 10px;
            font-size: 14px;
            color: red;
        }

        .form-close {
            font-size: 20px;
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;
        }
    }

    .success {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 1024px) {  
        .form-container {
            padding: 65px;
        }
    }
}

.author-popup {
    background-color: #333333;
    position: fixed;
    bottom: 32px;
    right: -100%;
    z-index: 9999;
    padding: 16px;
    border-radius: 4px 0 0 4px;
    transition: 1s ease;
    
    a {
        color: $first-hover-color;
    }
}

.author-page {
    min-height: 100vh;
    background-image: url("../img/aboutBg.jpg"); 
    color: $white-text;
    padding: 100px 2px;

    p {
        font-size: 22px; 
    }

    img {
        height: 370px;
        margin-bottom: 20px;
    }
}
